
    .datepicker {
        margin: 0 auto;
        width: 500px;
        height: 450px;
        background-color: #323439;
    }
    .headinput{
        width: 100%;
        height: 50px;
        background-color: dimgray;
        text-align: center;
        color: moccasin;
        line-height: 50px;
        font-size: 16px;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }
    .head{
        width: 100%;
        height: 50px;
        background-color: #3C3F41;
    }
    .body{
        width: 100%;
        height: 300px;
        background-color: #323439;
    }
    .calendarhead{
        width: 100%;
        height: 50px;
    }
    .calendarbody{
        width: 100%;
        height: 250px;
    }
    .yearview {
        width: 70%;
        float: left;
        cursor: pointer;
        text-align: center;
        color: #fff;
        line-height: 50px;
        font-size: 16px;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }
    .previous{
        width: 15%;
        float: left;
        cursor: pointer;
        height: 100%;
        font-size: 22px;
        vertical-align: middle;
        line-height: 50px;
        text-align: center;
        color: #adadaf;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }
    .btn{
        cursor: pointer;
        border: none;
        background-color: dimgrey;
        width: 50px;
        height: 25px;
    }
    .next {
        width: 15%;
        float: left;
        cursor: pointer;
        height: 100%;
        font-size: 22px;
        vertical-align: middle;
        line-height: 50px;
        text-align: center;
        color: #adadaf;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }
    .ul{
        width: 100%;
        margin-left: 7%;
        list-style-type: none;
        display: inline-flex;
    }
    .li{
        width: 30px;
        padding: 10px;
        color: #fff;
        font-weight: normal;
        cursor: pointer;
    }
    .ulDays{
        margin: 10px 0px 0px 40px;
        width: 100%;
        list-style-type: none;
        display: inline-flex;
        float: left;
    }
    .previous:hover,.next:hover,.yearview:hover,.li:hover,.headinput:hover{
        background-color: #6FDA44;
    }
    .ul:hover{
        background-color: #323439;
    }
    /* */
    /*.ul{
        margin: 50px auto;
        width: 400px;
        height: 350px;
        background: dimgray;
        color: aliceblue;
        list-style-type: none;
    }
    .li{
        width: 25px;
        float: left;
        margin: 13px;
        display: block;
        font-weight: normal;
        cursor: pointer;
    }*/
