
    .datePicker{
        margin: 0 auto;
        width: 33%;
        height: 350px;
        background-color: #FF6766;
    }
    button{
        margin-left: 40%;
        background-color: #F2F2F2;
        width: 20%;
        height: 10%;
        font-weight: bold;
        cursor: pointer;
    }
    .newDiv{
        margin-top: 50px;
        margin-left: 25%;
        width: 50%;
        height: 200px;
        background-color: green;
    }
    .leftBtn{
        width: 20%;
        height: 30px;
        display: inline-flex;
        float: left;
        background-color: red;
    }
    .yearBlock{
        width: 60%;
        height: 30px;
        display: inline-flex;
        float: left;
        background-color: gray;
    }
    .rightBtn{
        width: 20%;
        height: 30px;
        display: inline-flex;
        float: left;
        background-color: red;
    }
    .daysBlock{
        width: 100%;
        height: 170px;
        background-color: gray;
    }