
    /*.datePicker{
        margin: 0 auto;
        width: 33%;
        height: 350px;
        background-color: #FF6766;
    }
    button{
        margin-left: 40%;
        background-color: #F2F2F2;
        width: 20%;
        height: 10%;
        font-weight: bold;
        cursor: pointer;
    }
    .newDiv{
        margin-top: 50px;
        margin-left: 25%;
        width: 50%;
        height: 200px;
        background-color: green;
    }
    .leftBtn{
        width: 20%;
        height: 30px;
        display: inline-flex;
        float: left;
        background-color: red;
    }
    .yearBlock{
        width: 60%;
        height: 30px;
        display: inline-flex;
        float: left;
        background-color: green;
    }
    .rightBtn{
        width: 20%;
        height: 30px;
        display: inline-flex;
        float: left;
        background-color: red;
    }
    .daysBlock{
        margin: 0 auto;
        width: 60%;
        height: 170px;
        background-color: gray;
    }*/


    /*    */

    .datepicker {
        margin: 0 auto;
        width: 400px;
        height: 400px;
        background-color: #6FDA44;
    }
    .head{
        width: 100%;
        height: 50px;
        background-color: #3C3F41;
    }
    .body{
        width: 100%;
        height: 250px;
        background-color: #323439;
    }
    .calendarhead{
        width: 100%;height: 50px;
    }
    .calendarbody{
        width: 100%;height: 200px;
    }
    .monthview {
        width: 70%;
        float: left;
        cursor: pointer;
        text-align: center;
        color: #fff;
        line-height: 50px;
        font-size: 16px;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }
    .previous{
        width: 15%;
        float: left;
        cursor: pointer;
        height: 100%;
        font-size: 22px;
        vertical-align: middle;
        line-height: 50px;
        text-align: center;
        color: #adadaf;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }
    .next {
        width: 15%;
        float: left;
        cursor: pointer;
        height: 100%;
        font-size: 22px;
        vertical-align: middle;
        line-height: 50px;
        text-align: center;
        color: #adadaf;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }
    .previous:hover,.next:hover,div.monthview:hover{
        background-color: #6FDA44;
    }